body{
  background-color:#4cbbb9;
  color:#512b58;
}
hr{
  border-color: #512b58;
  border-width:4px;
  border-style: none;
  border-top-style:dotted;
  width:5%;
}

h1{

  color:#512b58;

}
img{
  width:384px ;
  height:288px;
}

.circular{
  border-radius:100%;
}

a:link {
  color: #512b58;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #512b58;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: #512b58;
  background-color: transparent;
  text-decoration: underline;
}
